/**
 * ==========================================
 * Icons
 * ==========================================
 */

.ws-icon{

    display:inline-flex;

    align-items:center;

    justify-content:center;

    width:20px;

    height:20px;

    color:currentColor;

    flex-shrink:0;

}

.ws-icon svg{

    width:100%;
    height:100%;

}