.ws-search{
    width:100%;
}

.ws-search__form{
    width:100%;
}

.ws-search .input-group{
    display:flex;
    align-items:stretch;
}

.ws-search__category{
    max-width:220px;
    border-right:0;
}

.ws-search__input{
    border-left:0;
    border-right:0;
}

.ws-search__button{
    min-width:60px;
}

@media (max-width:992px){

    .ws-search__category{
        display:none;
    }

}