/**
 * ==========================================
 * Generic Dropdown
 * ==========================================
 */

[data-dropdown] {

    position: relative;

}

[data-dropdown-menu] {

    position: absolute;

    top: 100%;

    left: 0;

    min-width: 220px;

    background: #fff;

    border: 1px solid var(--ws-color-border);

    border-radius: var(--ws-radius);

    box-shadow: var(--ws-shadow);

    display: none;

    z-index: 999;

}

[data-dropdown].is-open
[data-dropdown-menu] {

    display: block;

}