.ws-mobile-toggle {

    display: none;

    width: 44px;
    height: 44px;

    padding: 0;

    border: 0;
    background: transparent;

    cursor: pointer;

}

.ws-mobile-toggle span {

    display: block;

    width: 24px;
    height: 2px;

    margin: 5px auto;

    background: currentColor;

    transition: .3s;

}

@media (max-width: 991.98px) {

    .ws-mobile-toggle {

        display: block;

    }

}