# ==========================================
# WooShop Theme
# ==========================================

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build cache
.cache/
.vite/
dist/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Logs
*.log

# Environment
.env
.env.local

# Keep compiled assets
# assets/build/  <-- DO NOT IGNORE